body {
    /* Take up full visible space */
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;

    /* Center child elements */
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #666666;
}

#game {
    position: relative;
    width: 640px;
    height: 640px;
    background-color: #000000;
}

.entity {
    position: absolute;
    width: 32px;
    height: 32px;
}

#snake-head {
    background-color: #ffffff;

    /* Debug positioning */
    left: 32px;
}

.snake-body {
    background-color: #cccccc;
}

#food {
    background-color: #ff0000;

    /* Debug positioning */
    left: 64px;
    top: 64px;
}
