/* Define our variables in the :root pseudo element */
:root {
    --game-size: 640px;
    --cell-size: 32px;
    --color-snake-head: #ffffff;
    --color-snake-body: #cccccc;
    --color-food: #ff0000;
}

body {
    /* Take up full visible space */
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;

    /* Center child elements */
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #666666;
}

#game {
    position: relative;
    width: var(--game-size);
    height: var(--game-size);
    background-color: #000000;
}

.entity {
    position: absolute;
    width: var(--cell-size);
    height: var(--cell-size);
}

#snake-head {
    background-color: var(--color-snake-head);

    /* Debug positioning */
    left: 32px;
}

.snake-body {
    background-color: var(--color-snake-body);
}

#food {
    background-color: var(--color-food);

    /* Debug positioning */
    left: 64px;
    top: 64px;
}
