body {
    position: absolute;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #0d1117;
    color: #ffffff;
    font-size: 32px;

    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace;
}

main {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 1200px;
    max-height: 800px;
    /* outline: 1px solid red; */

    counter-reset: slide-id;
}

strong {
    letter-spacing: 0.15em;
}

a {
    color: #58a6ff;
    text-decoration: none;
}

ul > li {
    margin-bottom: 24px;
}

ul > li > ul > li {
    margin-bottom: 8px;
}

ul > li > ul > li:first-child {
    margin-top: 8px;
}

h1 {
    margin-top: 0;
    letter-spacing: 0.1em;
}

.slide {
    /* display: none; */
    visibility: hidden;
    overflow: hidden;
    width: 0;
    height: 0;
}

.slide.active {
    /* display: block; */
    visibility: visible;
    overflow: auto;
    width: auto;
    height: auto;
}

.slide::before {
    counter-increment: slide-id;
    content: counter(slide-id);
    position: absolute;
    right: 0;
    font-size: 1em;
    font-weight: bold;
}

#game-frame {
    width: 700px;
    height: 700px;
}

.container-horz {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: space-between;
}

.container-vert {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
}

.small {
    font-size: 0.5em;
    vertical-align: 0.25em;
}

.code {
    font-family: monospace;
    letter-spacing: 0.1em;
    color: #cc2222;
    background-color: #202020;
}

pre.code {
    position: relative;
}

/* pre.code::before { */
/*     content: "Copy"; */
/*     position: absolute; */
/*     top: 0; */
/*     right: 0; */
/*     margin-top: 0.25em; */
/*     margin-right: 0.25em; */
/*     color: #ffffff; */
/*     cursor: pointer; */
/* } */

.code-file > .title {
    color: #ffffff;
}

.code-file > .body {
    margin-top: 0;
    font-size: 0.8em;
}

.code-file > .body.body--small {
    font-size: 0.6em;
}

.color-yellow {
    color: #d7d787;
}

.color-white {
    color: #ffffff;
}

.color-red {
    color: #ff2222;
}

.color-blue {
    color: #4c869a;
}

.color-green {
    color: #afd700;
}

.text-slim {
    font-weight: 200;
}
