:root {
    --clr-bg: #0d1117;
}

body {
    position: absolute;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: var(--clr-bg);
    color: #ffffff;
    font-size: 32px;

    display: flex;
    justify-content: center;
    align-items: flex-start;

    font-family: monospace;
}

main {
    position: relative;
    width: 100%;
    max-width: 1400px;
    top: 1em;
    /* max-height: 800px; */
    /* outline: 1px solid red; */

    counter-reset: slide-id;
}

strong {
    letter-spacing: 0.15em;
}

a {
    color: #58a6ff;
    text-decoration: none;
}

ul > li {
    margin-bottom: 24px;
}

ul > li > ul > li {
    margin-bottom: 8px;
}

ul > li > ul > li:first-child {
    margin-top: 8px;
}

h1 {
    margin-top: 0;
    margin-bottom: 0.25em;
    font-size: 1.5em;
    letter-spacing: 0.1em;
}

.slide {
    /* display: none; */
    visibility: hidden;
    overflow: hidden;
    width: 0;
    height: 0;
}

.slide.active {
    /* display: block; */
    visibility: visible;
    overflow: auto;
    width: auto;
    height: auto;
}

.slide-number {
    position: absolute;
    display: inline;
    right: 0;
    font-size: 1em;
    /* font-weight: bold; */

    counter-increment: slide-id;
}

.slide-number::before {
    content: counter(slide-id);
}

.slide-number--highlight {
    animation: highlightSlideNumber 1000ms ease-in-out infinite alternate;
}

#game-frame {
    width: 700px;
    height: 700px;
}

.container-horz {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: space-between;
}

.container-vert {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
}

.small {
    font-size: 0.5em;
    vertical-align: 0.25em;
}

.code {
    font-family: monospace;
    letter-spacing: 0.1em;
    color: #cc2222;
    background-color: #202020;
}

pre.code {
    position: relative;
}

.code-highlight {
    text-shadow: 0 0 8px;
    font-weight: bold;
}

.code-file > .title {
    color: #ffffff;
}

.code-file > .body {
    margin-top: 0;
    font-size: 0.8em;
}

.code-file > .body.body--small {
    font-size: 0.6em;
}

.color-yellow {
    color: #d7d787;
}

.color-white {
    color: #ffffff;
}

.color-red {
    color: #ff2222;
}

.color-blue {
    color: #4f93a9;
}

.color-green {
    color: #afd700;
}

.text-slim {
    font-weight: 200;
}

.keybindings {
    position: fixed;
    z-index: 1;
    width: 100%;
    max-width: 800px;
    max-height: 600px;

    margin-top: 4em;
    padding: 1em;

    background-color: #050608;
    border-radius: 8px;
    box-shadow: 0 0 8px 16px #050608;
}

.keybindings > .keybindings__close {
    position: absolute;
    top: 1em;
    right: 1em;
    width: 2em;
    height: 2em;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}

.hidden {
    display: none !important;
}

@keyframes highlightSlideNumber {
    0% {
        text-shadow: 0 0 0;
        transform: scale(1) rotate(-8deg);
    }
    100% {
        text-shadow: 0 0 0.5em;
        transform: scale(1.2) rotate(8deg);
    }
    /* 100% { */
    /*     text-shadow: 0 0 0; */
    /*     transform: scale(1); */
    /* } */
}
