:root {
    --game-size: 640px;
    --cell-size: 32px;
    --color-snake-head: #ffffff;
    --color-snake-body: #cccccc;
    --color-food: #ff0000;
}

body {
    position: absolute;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #666666;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: monospace;
}

#game {
    position: relative;
    width: var(--game-size);
    height: var(--game-size);
    background-color: #000000;
}

.entity {
    position: absolute;
    width: var(--cell-size);
    height: var(--cell-size);
}

#snake-head {
    background-color: var(--color-snake-head);
}

.snake-body {
    background-color: var(--color-snake-body);
}

.food {
    background-color: var(--color-food);
}

.score {
    position: absolute;
    top: calc(var(--cell-size) * -1);

    color: #000000;
    font-size: 24px;
}

#score {
    left: 0;
}

#highscore {
    right: 0;
}

.new-highscore {
    color: #22ff22;
}

#game-over {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    color: #ff2222;
    font-size: 48px;
    text-shadow: 0 0 4px #000000;
}

.hidden {
    visibility: hidden;
}
